h1 {
	 color: white;
	 padding-left: 500px;
	 padding-bottom: 20px;
	 padding-top: 15px;

}

div {
	background-color: #330000;
}

body {
	background-color: #E5E4D3;
}

#fondo {
  background-color:#663300;
}



nav {
	background-color: #B7950B;
	width: 100%;
  	position: fixed; /*esto sirve para que la posicion del menu sea estattica y se mantenga siempre en lugar aunque bajemos en pantalla*/
  	z-index: 100;  /*orden en que se amontonan los elementos*/
  	float:left;

}

#h5{
	color: blue;
}

nav ul {

  	list-style: none;  /*forma de viñeta de cada elemento*/
 	 overflow: hidden; 
}

nav ul li {

 	float: left;  /*es para que el menu se vea horizontal*/
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 20px;

}

nav ul li a {
  	display: block; /*tener los elementos como un bloque*/
 	padding: 20px;
 	color: #fff;
  	text-decoration: none;
}

nav ul li:hover {

	background-color: #D8D5BF;
}

#divabout {

	background-color: #330000;
	color: white;
	padding-left: 0px;
}

#bodyabout {

	background-color: #B7950B;
}

.sectionabout {

	margin-top: 50px;
	margin-right: 150px;
	margin-left: 200px;
	background-color: green;
	border: 2px solid black ;
	border-radius: 20px;

}

#parrafoab {
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 10px;
	margin-top: 50px;
	font-weight: bold;
}

.footerabout {
	background-color: #FFCCBC;
	margin-top: 150px;
}

.section2 {

	background-color: #FFE0B2;
	margin-top: 50px;
	margin-left: 200px;
	margin-right: 150px;
	padding-top: 30px;
	padding-bottom: 30px;
	border: 2px solid black;
	border-radius: 20px;
}

.parrafo2 {
	font-weight: bold;
	padding-left: 50px;
	padding-right: 50px;
}

.cardtext {
	background-color: red;
}

.fhob {
	margin-top: 250px;
}