
.skh1 {
	padding-left: 500px;
}
.skbody {
	background-color: #FAD7A0;

}

.fotsk {
	margin-top: 350px;
	border: 2px solid white;
	border-radius: 3px;
	margin-right: 1000px;

}

.skills {
	padding-bottom: 15px;
}

#changecolorcont {
	background-color: #FAD7A0;
}

#botonespecial {
	color: red;
}

.fcont {
	margin-top: 350px;
}

.h6contacto {
	padding-bottom: 50px;
	
}